# **Online Retail Transaction Dataset Project**

## Objectives

* The first thing required is to obtain the raw dataset from Kaggle, please see below;
https://www.kaggle.com/datasets/abhishekrp1517/online-retail-transactions-dataset. 
The next step is to look, clean, analyse the raw data. Once we have our clean data, we then use data visualisation tools to show our analysis of the data.

## Inputs

* Raw data from Kaggle
numpy, pandas, seaborn, matplotlib, plotly.

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\leha_\\Documents\\vscode-projects\\OnlineRetailTransactionsDataset\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\leha_\\Documents\\vscode-projects\\OnlineRetailTransactionsDataset'

# Section 1

Section 1 content

In [1]:
# import all libraries that you need in this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

---

# Section 2

Section 2 content

---

In [2]:
# Load the raw dataset
df = pd.read_csv('../dataset/Rawdata/Online-Retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  int64
 7   Country      541909 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 33.1+ MB

In [4]:
df.tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [5]:
df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
277959,561201,22702,BLACK AND WHITE CAT BOWL,1,2011-07-25 15:08:00,2.10,14692,United Kingdom
401731,571441,84707A,SILVER JEWELLED MIRROR TRINKET TRAY,1,2011-10-17 13:31:00,19.96,14096,United Kingdom
183269,552655,22829,SWEETHEART WIRE WALL TIDY,2,2011-05-10 14:22:00,9.95,14587,United Kingdom
424877,573289,20719,WOODLAND CHARLOTTE BAG,10,2011-10-28 14:44:00,0.85,12705,Germany
96305,544484,22666,RECIPE BOX PANTRY YELLOW DESIGN,6,2011-02-21 11:10:00,2.95,15321,United Kingdom
516753,579946,84006,MAGIC TREE -PAPER FLOWERS,12,2011-12-01 10:44:00,0.85,15993,United Kingdom
144812,548808,72799E,IVORY PILLAR CANDLE SILVER FLOCK,2,2011-04-04 12:55:00,2.95,17774,United Kingdom
217555,555925,22697,GREEN REGENCY TEACUP AND SAUCER,2,2011-06-07 17:13:00,5.79,15287,United Kingdom
112906,545901,22185,SLATE TILE NATURAL HANGING,3,2011-03-07 17:52:00,1.65,15834,United Kingdom
372332,569238,21212,PACK OF 72 RETROSPOT CAKE CASES,3,2011-10-02 15:52:00,0.55,17954,United Kingdom

In [6]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [7]:
df[df.Country == 'France'].value_counts()

InvoiceNo  StockCode  Description                         Quantity  InvoiceDate          UnitPrice  CustomerID  Country
575661     22571      ROCKING HORSE RED CHRISTMAS          3        2011-11-10 14:39:00  0.85       12617       France     2
569332     23206      LUNCH BAG APPLE DESIGN               1        2011-10-03 13:46:00  1.65       12637       France     2
           21035      SET/2 RED RETROSPOT TEA TOWELS       1        2011-10-03 13:46:00  3.25       12637       France     2
           22328      ROUND SNACK BOXES SET OF 4 FRUITS    1        2011-10-03 13:46:00  2.95       12637       France     2
547194     22554      PLASTERS IN TIN WOODLAND ANIMALS     1        2011-03-21 12:42:00  1.65       12637       France     2
                                                                                                                          ..
554109     23084      RABBIT NIGHT LIGHT                   24       2011-05-22 14:33:00  1.79       12682       France     1
           23054      RECYCLED ACAPULCO MAT LAVENDER       2        2011-05-22 14:33:00  8.25       12682       France     1
           23052      RECYCLED ACAPULCO MAT TURQUOISE      2        2011-05-22 14:33:00  8.25       12682       France     1
           23049      RECYCLED ACAPULCO MAT RED            2        2011-05-22 14:33:00  8.25       12682       France     1
C581316    23174      REGENCY SUGAR BOWL GREEN            -1        2011-12-08 11:46:00  4.15       12523       France     1
Name: count, Length: 8541, dtype: int64

In [13]:
# check for missing values
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Conclusion and Next steps

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.